<div class="block block_padding block_white">
	<div class="container">
		<div>
			<h1 class="block__title nopadding">Заголовок блоговой записи</h1>
			<p>Польша – крупнейшая страна Восточной Европы, неповторимая история и богатое культурное наследие которой ежегодно привлекают
				туристов со всего мира. В настоящее время Польша занимает почетную позицию в рейтинге влиятельных европейских стран,
				а потому также является местом встречи деловых людей. Не менее востребована регистрация на польскую визу в Минске. Именно
				Беларусь отделена от этой страны наиболее длинной границей.</p>
			<br>
            <h1 class="block__title nopadding">Визовая поддержка в Польшу</h1>
			<p>Польша входит в число стран шенгенского соглашения, а потому для въезда на ее территорию требуется оформить шенгенскую
				визу.Виза в Польшу на год Обратившись за помощью к сотрудникам нашей компании, вы в кратчайшие сроки соберете необходимый
				пакет документов и сможете посетить страну. Профессиональная визовая поддержка в Польшу в Минске позволит: - свободно
				въезжать в страну по деловым вопросам; - путешествовать и знакомиться с другими странами Шенгенской зоны; - совершать
				шоппинг, особенно выгодный ввиду постоянных скидок в польских торговых центрах и аутлетах; - навещать родственников и
				близких, проживающих на территории страны. Вне зависимости от причины, по которой вам требуется срочная многократная
				виза в Польшу, мы позаботимся о том, чтобы вы максимально быстро получили нужный штамп в загранпаспорте.</p>
			<br>
            <h1 class="block__title nopadding">Открыть визу в Польшу на год: условия оформления</h1>
			<p>Важным требованием, чтобы получить польский шенген на год в Минске, является наличие двух шенгенских виз за предыдущие
				три года.Открыть визу в Польшу Как минимум одна из них должна быть польской. Помимо этого, в зависимости от цели посещения
				страны, посольство может запросить дополнительные документы. К примеру, если речь идет про оформление деловой визы, необходимо
				предоставить договора, заключенные с польскими партнерами. Если же вы хотите получить визу для шоппинга, будьте готовы
				показать оригиналы VAT, которые подтверждают осуществление покупок. К обязательному пакету документов относится: - действующий
				паспорт; - копии страниц белорусского паспорта; - 2 цветных фото (3,5х4,5 см). Цена на визу в Польше для белорусов также
				зависит от того, с какой целью вы въезжаете в страну. Задать любые вопросы касательно сотрудничества и стоимости визы
				в Польшу для белорусов предлагаем по телефону. Звоните прямо сейчас!</p>
		</div>
	</div>
</div>