<div class="relative">
    <div class="text_center">
        <img src="images/banners/zakupy.jpg" alt="">
    </div>
    <div class="full absolute">
        <div class="container slider__container">
            <div>
                <h1 class="block__title color_white nopadding slider__title">ОТКРОЕМ ВИЗУ СРОКОМ ДО 5 ЛЕТ В ЛЮБУЮ ИЗ 28 СТРАН,</h1>
                <h1 class="block__title color_white nopadding slider__title">“ПОД КЛЮЧ” И В КРАТЧАЙШИЕ СРОКИ</h1>
            </div>
        </div>
    </div>
</div>