<div class="block block_padding block_white">
    <div class="container">
        <h1 class="block__title">Польские визы <img src="images/flags/Poland.png" alt="" class="title__flag"></h1>
        <div class="container">
            @@loop('parts/visaPreview.html', [
            { "image": "images/visa/visa1.jpg", "title": "Виза за покупками", "time": "от 10 дней", "cost": "49 BYN"},
            { "image": "images/visa/visa2.jpg", "title": "Деловая виза", "time": "от 10 дней", "cost": "120 BYN"},
            { "image": "images/visa/visa3.jpg", "title": "Туристическая виза", "time": "от 10 дней", "cost": "39 - 59 BYN"},
            { "image": "images/visa/visa4.jpg", "title": "Культурная виза", "time": "от 10 дней", "cost": "390 BYN"},
            { "image": "images/visa/visa5.jpg", "title": "Национальная учебная виза (тип D)", "time": "от 20 дней", "cost": "690 BYN"},
            { "image": "images/visa/visa6.jpg", "title": "Рабочая национальная виза (тип D)", "time": "2 месяца", "cost": "920 BYN"}
            ])
        </div>
    </div>
</div>

