@import "bower_components/susy/sass/susy";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

@charset 'UTF-8';

@import 'variables';
@import 'base/index';
@import 'modules/index';