<div class="block block_padding block_gray-f2">
	<div class="container">
		<h1 class="block__title">Основные документы для оформления визы:</h1>
		<div class="block block_white block_shadow block_padding-45-55">
			<div class="flex vertical_line vertical_line_blue relative">
				<div class="creating__step_small">
					<h3 class="creating__number_small">1</h3>
				</div>
				<div class="dropdown__container">
					<h2 class="dropdown__title dropdown__title_small">Паспорт</h2>
					<div class="dropdown__wrapper">
						<p class="dropdown__text">
							- Должен быть не старше десяти лет
						</p>
						<p class="dropdown_text">
							- Срок его действия должен превышать срок окончания поездки не менее, чем на три месяца
						</p>
						<p class="dropdown__text">
							- Должен иметь две свободные страницы в одном развороте либо три свободные страницы не в развороте для постановления визы
							<i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i>
						</p>
					</div>
				</div>
			</div>
			<div class="flex vertical_line vertical_line_blue relative">
				<div class="creating__step_small">
					<h3 class="creating__number_small">2</h3>
				</div>
				<div class="dropdown__container">
					<h2 class="dropdown__title dropdown__title_small">Цветная фотография (1 шт.)</h2>
					<div class="dropdown__wrapper">
                        <p class="dropdown__text italic">Основные требования к фотографии:</p>
						<p class="dropdown__text">
							 - На белом фоне
                            <br>
                            - Размер 3,5 х 4,5 см
                            <br>
                            - Не старше шести месяцев
                            <br>
                            - На фото должны быть витдны уши, шея и лоб
						</p>
                        <p class="dropdown__text italic">Можно сделать у нас в офисе: стоимость <b>5 BYN</b></p>
                        <a href="#" class="dropdown__link">Узнать подробнее о требованиях к фотографии</a>
					</div>
				</div>
			</div>
			<div class="flex vertical_line vertical_line_blue relative">
				<div class="creating__step_small">
					<h3 class="creating__number_small">3</h3>
				</div>
				<div class="dropdown__container">
					<h2 class="dropdown__title dropdown__title_small">Медицинская страховка</h2>
					<div class="dropdown__wrapper">
						<p class="dropdown__text"> - Можно оформить у нас, стоимость от 1$
                            <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i>
						</p>
                        <p class="dropdown__text italic"> - Оформите банковскую карту PayOkey прямо у нас в офисе и получите страховку бесплатно</p>
					</div>
				</div>
			</div>
			<div class="flex vertical_line vertical_line_blue relative">
				<div class="creating__step_small">
					<h3 class="creating__number_small">4</h3>
				</div>
				<div class="dropdown__container">
					<h2 class="dropdown__title dropdown__title_small">ВАТы, TAX FREE
						<i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i>
					</h2>
					<div class="dropdown__wrapper">
						<p class="dropdown__text">
							Можно оформить у нас, стоимость 40 BYN
						</p>
					</div>
				</div>
			</div>
			<div class="flex vertical_line vertical_line_blue relative">
				<div class="creating__step_small">
					<h3 class="creating__number_small">5</h3>
				</div>
				<div class="dropdown__container">
					<h2 class="dropdown__title dropdown__title_small">Документы о доходах</h2>
					<div class="dropdown__wrapper">
						<p class="dropdown__text">
							 - Если Вы студент, Вам необходимо предоставить справку с учебного заведения о том, что Вы являетесь студентом, и выписку из банковского счета в подтверждение того, что Вы располагаете суммой не менее 200 EUR 
						</p>
                        <a href="#" class="dropdown__link">Пример справки с учебного заведения</a>
                        <a href="#" class="dropdown__link">Пример выписки из банковского счета</a>
					</div>
				</div>
			</div>
			<div class="flex vertical_line vertical_line_blue relative">
				<div class="creating__step_small">
					<h3 class="creating__number_small">6</h3>
				</div>
				<div class="dropdown__container">
					<h2 class="dropdown__title dropdown__title_small">Дополнительно для несовершеннолетних (до 18 лет)</h2>
					<div class="dropdown__wrapper">
						<p class="dropdown__text">
							- Карта поляка - это первый и главный шаг для получения постоянного вида на жительство в Польше (карта сталэго побыту); либо
							для получения польского паспорта
						</p>
					</div>
				</div>
			</div>
			<div class="flex vertical_line vertical_line_blue relative">
				<div class="creating__step_small">
					<h3 class="creating__number_small">7</h3>
				</div>
				<div class="dropdown__container">
					<h2 class="dropdown__title dropdown__title_small">Дополнительно для ИП</h2>
					<div class="dropdown__wrapper">
						<p class="dropdown__text">
							- Карта поляка - это первый и главный шаг для получения постоянного вида на жительство в Польше (карта сталэго побыту); либо
							для получения польского паспорта
						</p>
					</div>
				</div>
			</div>
			<div class="flex vertical_line vertical_line_blue relative">
				<div class="creating__step_small">
					<h3 class="creating__number_small">8</h3>
				</div>
				<div class="dropdown__container">
					<h2 class="dropdown__title dropdown__title_small">Дополнительно для иностранцев</h2>
					<div class="dropdown__wrapper">
						<p class="dropdown__text">
							- Карта поляка - это первый и главный шаг для получения постоянного вида на жительство в Польше (карта сталэго побыту); либо
							для получения польского паспорта
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>