<div class="block block_padding block_white">
    <div class="container">
        <h1 class="block__title ">Информация о визе:</h1>
        <div class="full info">
            <div class="gallery-6">
                <p><b>Тип подачи:</b> личная <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i></p>
                <p><b>Срок действия визы:</b> до 2 лет;</p>
                <p><b>Срок изготовления визы:</b> от 10 дней;</p>
                <p><b>Дни пребывания:</b> 90 дней в полугодие; <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i></p>
            </div>
            <div class="gallery-6">
                <p><b>Стоимость наших услуг:</b> 49 BYN;</p>
                <p><b>Консульский сбор:</b> 60 EUR; <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i></p>
                <p><b>Визовый сбор:</b> 15 EUR; <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i></p>
                <div class="dropdown__container">
                    <h2 class="dropdown__title" style="margin-top:0">Условия откытия виз за покупками</h2>
                    <div class="dropdown__wrapper">
                        <p class="dropdown__text"> - Одноразовая виза за покупками - если не было шенген виз в течение последних 3 лет</p>
                        <p class="dropdown__test"> - Виза за покупками на 6 месяцев - если была любая шенген виза в течение последних трех лет, но нет ВАТ</p>
                        <p class="dropdown__test"> - Виза за покупками на 1 год - если была любая шенген виза в течение последних трех лет и есть ВАТы</p>
                        <p class="dropdown__test"> - Виза за покупками на 2 года - если была мультивиза за покупками в течение последних трех лет и есть ВАТы </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>