// imports
@import '../utils/fontUtils';
@import '../variables';

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
  &:hover {
    color: $blue;
  }
}
input, select {
  box-sizing: border-box;
}

p, input, select {
  font-family: $OpenSans;
  margin-bottom: 5px;
}

b {
  font-family: $OpenSansBold;
  font-weight: 400;
}

button {
  font-family: $Designosaur;
}

img,
video,
canvas {
  max-width: 100%;
}

textarea {
  resize: none;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

input:focus, textarea:focus {
  border: 1px solid $blue;
}

.link {
    font-family: $OpenSans;
    @include font-size(14px);
    color: $blue-darker;
    text-decoration: underline;
}