@import 'buttons';
@import 'icons';
@import 'header';
@import 'menu';
@import 'slider';
@import 'secondMenu';
@import 'footer';
@import 'form';
@import 'banner';
@import 'team';
@import 'pagination';
@import 'news';
@import 'dropdown';
@import 'info';
@import 'modal';
@import 'services';
@import 'visaForm';
@import 'advantages';
@import 'creating';
@import 'discounts';
@import 'contacts';
@import 'countries';
@import 'rights';
@import 'credit';
@import 'reasons';
@import 'ways';

.nopadding {
    padding: 0;
}

.title__flag {
    left: inherit;
    top: inherit;
    margin-left: 10px;
    position: absolute;
}