.news__container {
    @include full;
    @include gutter(100);
}

.news__item {
    @include span(4 of 12);
    justify-content: center;
    margin-bottom: 60px;

    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    @include respond-to('small') {
        @include full;
    }
}

.news__item-container {
    @include respond-to('small') {
        padding: 0 15px 15px 15px;
    }
}

.news__image {
    margin-bottom: 20px;
    @include respond-to('small') {
        width: 100%;
    }
}

.visa__image {
    margin: 15px 0 20px;
    @include respond-to('small') {
        width: 100%;
    }
}

.news__info {
    margin: 5px 0 6px;
}

.news__date {
    color: $blue;
    font-family: $OpenSansItalic;
}

.news__comments {
    color: #b0b0b0;
    font-family: $OpenSansItalic;
}

.news__desc {
    @include font-size(16px);
}

.post__container {
    @include full;
    margin-bottom: 20px;
    @include respond-to('small') {
        padding: 0 15px;
    }
}