.rights__wrapper {
    @include container();
}

.rights__item {
    display: flex;
    align-items: center;
    font-family: $OpenSans;
    @include font-size(18px);
    margin-bottom: 30px;
    @include span(6 of 12);
    min-height: 72px;
    p {
        width: calc(100% - 69px);
    }
    @include respond-to('small') {
        @include full;
        padding: 0 15px;
    }
    
}