.block__second-menu {
    height: 60px;
    position: relative;
}

.second-menu__container {
    height: 110px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    @include respond-to('large') {
        position: relative;
    }
}

.second-menu__list {
    display: flex;
    box-shadow: -0.2px 3px 9.9px 1.1px rgba(0, 1, 3, 0.31);
    height: 60px;
    width:100%;
    @include respond-to('large') {
        justify-content: space-around;
    }
}

.second-menu__item {
    @include respond-to('large') {
        flex: 100%;
    }
}

.second-menu__item .second-menu__link{
    @include font-size(16px);
    color: $white;
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 29px;
    bottom: 0;
    position: relative;
    z-index: 2;
    i {
        margin-bottom: 15px;
    }
    transition: all 0.7 linear;

    @include respond-to('large') {
        padding: 2% !important;
    }
}

.second-menu__item:nth-child(1) .second-menu__link {
    padding-left: 36px;
    padding-right: 34px;
    background-color: #4e89c5;
}

.second-menu__item:nth-child(2) .second-menu__link {
    padding-left: 35px;
    padding-right: 43px;
    background-color: #437db9;
}

.second-menu__item:nth-child(3) .second-menu__link {
    padding-left: 39px;
    padding-right: 39px;
    background-color: #3a72ad;
}

.second-menu__item:nth-child(4) .second-menu__link {
    padding-left: 25px;
    padding-right: 27px;
    background-color: #3368a0;
}

.second-menu__item:nth-child(5) .second-menu__link {
    padding-left: 26px;
    padding-right: 29px;
    background-color: #1f4f82;
}

.second-menu__item:nth-child(6) .second-menu__link {
    padding-left: 27px;
    padding-right: 33px;
    background-color: #143b65;
}



.submenu__list {
    padding: 0 30px 0 55px;
    max-width: 500px;
    overflow: hidden;
    position: absolute;
    bottom: 110px;
    background: #ffffff;
    list-style: initial;
    transition: all 1s linear;
    max-height: 0;
    
}
.second-menu__item:hover {
    .second-menu__link {
        padding-bottom: 55px;
        bottom: 26px;
        z-index: 11;
        box-shadow: 12px 0 15px -4px rgba(0, 1, 3, 0.3), -12px 0 8px -4px rgba(0, 1, 3, 0.3);
    }
    .submenu__list {   
        max-height: 1000px;
    }
}
.submenu__item {
    padding: 10px 0;
    &:hover {
        color: $blue;
    }
}

.submenu__item:first-child {
    padding-top: 40px;
}

.submenu__item:last-child {
    padding-bottom: 40px;
}

.submenu__link {
    font-family: $OpenSans;
    padding: 10px 10px;
    color: $black;
    &:hover {
        color: $blue;
    }
}