<div class="block block_padding block_gray-f2">
    <div class="container">
        <h1 class="block__title text_center">О нас</h1>
        <div class="block block_shadow block_white block_padding-60">
            <p class="des">Наша миссия: помочь белорусам получить визу, карту поляка или вид на жительство за границей. С поддержкой Visavisa.by граждане Беларуси получают возможность беспрепятственно путешествовать по всему миру, жить и работать в любой стране Европейского Союза.</p>
            <br>
            <p class="italic fs18">Почему с Visavisa.by проще?</p>
            <br>
            <p class="des fs18">- Мы всегда на связи.</p>
            <p class="fs18">Наши клиенты получают информационную поддержку нон-стоп. Если вдруг вы до нас не дозвонились, мы обязательно вам перезвоним.</p>
            <br>
            <p class="des fs18">- Мы возьмем на себя максимум ваших хлопот.</p>
            <p class="fs18">Все бюрократические моменты по открытию визы или карты поляка специалисты Visavisa берут на себя.</p> 
            <br>
            <p class="des fs18">- Вы получите самые подробные инструкции.</p>
            <p class="fs18">Некоторые этапы оформления документов все же потребуют вашего участия. На этот случай мы обеспечим вас четким планом действий.</p> 
            <br>
            <p class="italic fs18">С Visavisa.by вы организуете желанный переезд в Шенген или заграничный отдых с наименьшими затратами сил и времени.</p>
        </div>
    </div>
</div>