<div class="block advantages_padding block_blue">
    <div class="container">
        <h1 class="block__title color_white">Почему Вам стоит обратиться за открытием визы в наш визовый центр?</h1>
        <div class="advantages__wrapper">
            <div class="advantages__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>8 лет опыта работы</p>
            </div>
            <div class="advantages__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Фотографию для визы и страховки можно сделать прямо у нас в офисе</p>
            </div>
            <div class="advantages__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Оформление более 20 000 виз</p>
            </div>
            <div class="advantages__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>
                    Бесплатное оформление виз для детей до 18 лет
                    <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i>
                </p> 
            </div>
            <div class="advantages__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>
                    Возможность оплатить визу в рассрочку на три месяца с помощью карты “Халва”
                    <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i>
                </p>
            </div>
            <div class="advantages__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Наш офис расположен в центре города, 300 метров от станции метро «Якуба Коласа».</p>
            </div>
            <div class="advantages__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Открытие визы не посещая посольство, если сдавались отпечатки пальцев</p>
            </div> 
        </div>
    </div>
</div>
