<div class="relative">
    <div class="text_center">
        <img src="@@image" alt="">
    </div>
    @@if (addition == true) {
        <div class="full_wh absolute">
            <div class="container slider__container">
                <div>
                    <h1 class="block__title color_white nopadding slider__title">ОТКРОЕМ ВИЗУ СРОКОМ ДО 5 ЛЕТ В ЛЮБУЮ ИЗ 28 СТРАН,</h1>
                    <h1 class="block__title color_white nopadding slider__title">“ПОД КЛЮЧ” И В КРАТЧАЙШИЕ СРОКИ</h1>
                    <a href="#" class="button button_blue slider__button">Узнайте условия получения визы <i class="icon icon-arrow"></i></a>
                </div>
            </div>
        </div>
    }
</div>