<div class="block block_gray-f2 contacts">
    <div class="container">
        <h1 class="block__title nopadding">Контакты</h1>
        <div class="contacts__container">
            <div class="contacts__wrapper">
                <div class="contacts__block">
                    <p class="contacts__item">
                        <i class="fa fa-map-marker icon icon-marker"></i>
                        г. Минск, ул. Гикало, дом 5, офис 103
                    </p>
                    <p class="contacts__item">
                        <i class="fa fa-mobile icon icon-mobile-26"></i>
                        +377 (33) 646-55-88 (mts / viber)
                    </p>
                    <p class="contacts__item">
                        <i class="fa fa-mobile icon icon-mobile-26"></i>
                        +377 (29) 646-55-99 (velcom)
                    </p>
                </div>
                <div class="contacts__block">
                    <p class="contacts__item">
                        <i class="fa fa-clock-o icon icon-clock-21"></i>
                        пн - пт: с 9:00 до 19:00;  сб: с 10:00 до 18:00
                    </p>
                    <p class="contacts__item">
                        <i class="fa fa-envelope icon icon-envelope"></i>
                        info.visavisa@gmail.com
                    </p>
                    <p class="contacts__item">
                        <i class="fa fa-skype icon icon-skype"></i>
                        visavisa.by
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contacts__map">
    @@include('parts/map.html', { "map": "map1", "lat": "53.682521", "lng": "23.832049", "zoom": "17", "id": "contacts__map"})
</div>