<div class="block block_padding block_white">
    <div class="container">
        <h1 class="block__title nopadding">Польское ПМЖ и Карта поляка</h1>
        <div class="countries__container">
            <div class="countries__item countries__item_poland">
                <img src="images/countries/poland/poland1.jpg" alt="" class="countries__image">
                <h2 class="countries__title">Помощь в получении Карты поляка</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_poland">
                <img src="images/countries/poland/poland2.jpg" alt="" class="countries__image">
                <h2 class="countries__title">Помощь в получении Карты побыту</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
        </div>
    </div>
</div>