<div class="block block_padding block_white">
    <div class="container">
        <h1 class="block__title nopadding">Шенген визы</h1>
        <div class="countries__container">
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Poland_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Poland.png" alt="" class="countries__flag">
                <h2 class="countries__title">Польша</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Litva_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Litva.png" alt="" class="countries__flag">
                <h2 class="countries__title">Литва</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Spain_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Spain.png" alt="" class="countries__flag">
                <h2 class="countries__title">Испания</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/France_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/France.png" alt="" class="countries__flag">
                <h2 class="countries__title">Франция</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Italy_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Italy.png" alt="" class="countries__flag">
                <h2 class="countries__title">Италия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Greece_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Greece.png" alt="" class="countries__flag">
                <h2 class="countries__title">Греция</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Germany_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Germany.png" alt="" class="countries__flag">
                <h2 class="countries__title">Германия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Vengria_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Vengria.png" alt="" class="countries__flag">
                <h2 class="countries__title">Венгрия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Avstralia_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Avstralia.png" alt="" class="countries__flag">
                <h2 class="countries__title">Австралия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Belgium_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Belgium.png" alt="" class="countries__flag">
                <h2 class="countries__title">Бельгия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Latvia_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Latvia.png" alt="" class="countries__flag">
                <h2 class="countries__title">Латвия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Dania_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Denmark.png" alt="" class="countries__flag">
                <h2 class="countries__title">Дания</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Niderland_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Niderland.png" alt="" class="countries__flag">
                <h2 class="countries__title">Нидерланды</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Norway_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Norway.png" alt="" class="countries__flag">
                <h2 class="countries__title">Норвегия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Portugaly_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Portugaly.png" alt="" class="countries__flag">
                <h2 class="countries__title"></h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Slovakia_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Slovakia.png" alt="" class="countries__flag">
                <h2 class="countries__title">Словакия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Slovenia_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Slovenia.png" alt="" class="countries__flag">
                <h2 class="countries__title">Словения</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Finland_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Finland.png" alt="" class="countries__flag">
                <h2 class="countries__title">Финлядия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_shengen">
                <img src="images/countries/Estonia_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Estonia.png" alt="" class="countries__flag">
                <h2 class="countries__title">Эстония</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
        </div>
    </div>
</div>