<div class="block block_padding block_gray-f2 creating">
    <div class="container">
        <h1 class="block__title">Как открыть визу с помощью visavisa.by?</h1>
        <div class="creating__container">
            <div class="creating__item">
                <div class="creating__step">
                    <h1 class="creating__number">1</h1>
                </div>
                <div class="creating__info">
                    <div class="creating__wrapper">
                        <h2 class="creating__title">Вы отправляете нам фото Вашего паспорта, либо оставляете заявку на оформление визы</h2>
                        <p class="creating__addition margin_top30">Отправить фото паспорта Вы можете: <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i></p>
                        <p class="creating__addition"></p>
                        <p class="creating__addition">- Нам в Вайбер: +377 (29/33) 646-55-88 (viber)</p>
                        <p class="creating__addition">- Отправить через наш сайт</p>
                        <a href="#" class="button button_blue creating__button button__photos">
                            <i class="fa fa-arrow-circle-o-right"></i>
                            Отправить фото паспорта
                        </a>
                        <p class="creating__addition">Либо заполните анкету на заполение визы</p>
                        <a href="#" class="button button_dark-blue creating__button button__visa">
                            <i class="fa fa-pencil-square-o"></i>
                            Заполнить анкету
                        </a>
                        <p class="creating__description">
                            Так же Вы можете обратиться в наш офис по адресу: г. Минск, ул. Гикало, дом 5, офис 103
                        </p>
                        <p class="creating__description">
                            По всем возникшим вопросам Вы можете позвонить по телефону +377 (29) 646-55-88 (mts) 
                        </p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="creating__item">
                <div class="creating__step">
                    <h1 class="creating__number">2</h1>
                </div>
                <div class="creating__info">
                    <div class="creating__wrapper">
                        <h2 class="creating__title">Наш менеджер связывается с Вами для уточнения деталей по документам</h2>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="creating__item">
                <div class="creating__step">
                    <h1 class="creating__number">3</h1>
                </div>
                <div class="creating__info">
                    <div class="creating__wrapper">
                        <h2 class="creating__title">Мы подготавливаем документы</h2>
                    </div>
                </div>
            </div>
            <!--4-->
            <div class="creating__item">
                <div class="creating__step">
                    <h1 class="creating__number">4</h1>
                </div>
                <div class="creating__info">
                    <div class="creating__wrapper">
                        <h2 class="creating__title">Вы забираете готовый пакет документов и оплачиваете наши услуги</h2>
                        <p class="creating__addition margin_top30">Наличный, безналичный расчет, а так же по карте “Халва”</p>
                        <p class="creating__addition">у нас в офисе: г. Минск, ул. Гикало, дом5, офис 103</p>
                    </div>
                </div>
            </div>
            <!--5-->
            <div class="creating__item">
                <div class="creating__step">
                    <h1 class="creating__number">5</h1>
                </div>
                <div class="creating__info">
                    <div class="creating__wrapper">
                        <h2 class="creating__title">Далее документы подаются в посольство либо в визовый центр лично</h2>
                        <p class="creating__addition margin_top30">Возможна безличная подача, если отпечатки пальцев сдавались реанее</p>
                    </div>
                </div>
            </div>
            <!--6-->
            <div class="creating__item">
                <div class="creating__step">
                    <h1 class="creating__number">6</h1>
                </div>
                <div class="creating__info">
                    <div class="creating__wrapper">
                        <h2 class="creating__title">Вы забираете паспорт с готовой визой из посольства либо визового центра</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>