<div class="block block_padding block_gray-f2">
    <div class="container">
        <h1 class="block__title text_center">Получите карту побыту в рассторчку на 3 месяца!</h1>
        <div class="credit__container">
            <div class="credit__form">
                @@include('forms/whiteBlock.html', { "button_label": "Получить карту поляка в рассрочку"})
            </div>
            <div class="credit__desc">
                <h3>- Без первоначального взноса;</h3>
                <h3>- Сумма разбивается на 3 платежа;</h3>
                <h3>- 0% за пользование рассрочкой</h3>
            </div>
        </div>
    </div>
</div>