<div class="block block_padding footer block__footer_blue">
	<div class="container">
		<div class="footer__container">
			<div class="footer__column">
				<h2 class="column__title">visavisa.by</h2>
				<p>Визовый центр visavisa.by в Минске. Оформление виз за границу “под ключ”.</p>
			</div>
			<div class="footer__column">
				<h2 class="column__title">Остались вопросы?</h2>
				<p>Задайте их нам!</p>
				<duv class="column__container">
					<form action="POST">
						<textarea name="message" cols="30" rows="5" class="footer__input footer__textarea" placeholder="Кратко опишите суть вопроса"></textarea>
						<input name="phone" type="tel" class="footer__input" placeholder="Введите Ваш номер телефона">
						<button class="button button_blue footer__button">
                            Получить ответ
                        </button>
					</form>
				</duv>
			</div>
			<div class="footer__column">
				<h2 class="column__title">Нашли ошибку на сайте?</h2>
				<p>Если Вы увидели ошибку или опечатку, помогите нам ее исправить! Выделите ошибку и нажмите одновременно клавиши “ctr”l
					+ “enter”. Мы узнаем о неточности и как можно скорее ее исправим</p>
			</div>
			<div class="footer__column">
				<h2 class="column__title">Оставайтесь с нами!</h2>
				<div class="social">
					<div class="social__buttons">
						<a href="#" class="button social__button">
							<i class="fa fa-facebook icon"></i> 21k
						</a>
						<a href="#" class="button social__button">
							<i class="fa fa-vk icon"></i> 890
						</a>
						<a href="#" class="button social__button">
							<i class="fa fa-twitter  icon"></i> 115
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="block footer footer_padding2 block__footer_dark-blue">
	<div class="container">
		<h2 class="footer__title">Карта сайта</h2>
		<div class="footer__container">
			<div class="footer__column">
				<ul class="footer__list">
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Главная</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">О Компании</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Оплата</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Новости</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Отзывы</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Контакты</a>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<ul class="footer__list">
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Шенген визы</a> 
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Визы в страны Азии</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Многократные визы в чистый паспорт</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Визы на пол года</a>
					</li>
                    <li class="footer__item">
						<a href="#" class="footer__link">Визы на 2 года</a>
					</li>
                    <li class="footer__item">
						<a href="#" class="footer__link">Визы на 365 дней пребывания</a>
					</li>
                    <li class="footer__item">
						<a href="#" class="footer__link">Срочные визы</a>
					</li>
                    <li class="footer__item">
						<a href="#" class="footer__link">Визы с безличной подачей</a>
					</li>
				</ul>
				<ul class="footer__list">
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">ПМЖ в Польше и Карта Поляка</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Помощь в получении карты поляка</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Помощь в получении карты побыту</a>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<ul class="footer__list">
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Сопутствующие услуги</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Медицинская страховка </a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Фото для визы и страховки</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Международная SIM-карта</a>
					</li>
				</ul>
				<ul class="footer__list">
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Полезная информация</a>
					</li>
                    <li class="footer__item">
						<a href="#" class="footer__link">Часто задаваемые  вопросы (FAQ)</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Калькулятор дней пребывания</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Мини-экзамен на карту поляка</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Статьи</a>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<ul class="footer__list">
					<li class="footer__item">
						<a href="#" class="footer__link footer__link_gereral">Визы в другие страны</a>
					</li>
                    <li class="footer__item">
						<a href="#" class="footer__link">Австралия</a>
					</li>
                    <li class="footer__item">
						<a href="#" class="footer__link">Великобритания</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Ирландия</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Мексика</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">США</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="modal__overlay"></div>
<nav class="pushy pushy-left block__footer_blue">
    <ul>
        <li class="footer__item">
			<a href="#" class="footer__link footer__link_gereral color_white">Главная</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link footer__link_gereral color_white">О Компании</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link footer__link_gereral color_white">Оплата</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link footer__link_gereral color_white">Новости</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link footer__link_gereral color_white">Отзывы</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link footer__link_gereral color_white">Контакты</a>
		</li>
    </ul>
</nav>
<div class="site-overlay"></div>
<script src="js/libs/vendor.js"></script>
<script src="js/main.js"></script>