<div class="block block_white">
    <div class="container block__menu">
        <div class="menu">
            <ul class="menu_list">
                <li class="menu_item"><a href="#" class="menu__link">Главная</a></li>
                <li class="menu_item"><a href="#" class="menu__link">О Компании</a></li>
                <li class="menu_item"><a href="#" class="menu__link">Оплата</a></li>
                <li class="menu_item"><a href="#" class="menu__link">Новости</a></li>
                <li class="menu_item"><a href="#" class="menu__link">Отзывы</a></li>
                <li class="menu_item"><a href="#" class="menu__link">Контакты</a></li>
                <li class="menu_item"><a href="#" class="menu__link">Полезная информация</a></li>
            </ul>
        </div>
        <div class="search-form">
            <input type="text" class="search-form_input" placeholder="Введите запрос...">
            <button class="button button_blue search-form_button">Поиск</button>
        </div>
    </div>
</div>