<div class="block block_padding block_white">
    <div class="container">
        <h1 class="block__title">Новости</h1>
        <div class="news__container">
            @@loop('parts/newsPreview.html', [
            { "image": "images/news/news1.jpg", "title": "Заголовок блоговой записи", "date": "15 октября 2016", "comments": "/ 12 комментариев", "desc": "С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует ..."},
            { "image": "images/news/news1.jpg", "title": "Заголовок блоговой записи", "date": "15 октября 2016", "comments": "/ 12 комментариев", "desc": "С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует ..."},
            { "image": "images/news/news1.jpg", "title": "Заголовок блоговой записи", "date": "15 октября 2016", "comments": "/ 12 комментариев", "desc": "С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует ..."},
            { "image": "images/news/news1.jpg", "title": "Заголовок блоговой записи", "date": "15 октября 2016", "comments": "/ 12 комментариев", "desc": "С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует ..."},
            { "image": "images/news/news1.jpg", "title": "Заголовок блоговой записи", "date": "15 октября 2016", "comments": "/ 12 комментариев", "desc": "С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует ..."},
            { "image": "images/news/news1.jpg", "title": "Заголовок блоговой записи", "date": "15 октября 2016", "comments": "/ 12 комментариев", "desc": "С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует ..."}
            ])
        </div>
        @@include('parts/pagination.html')
    </div>
</div>

