<div class="block block_padding block_white">
    <div class="container">
        <h1 class="block__title nopadding">Другие страны</h1>
        <div class="countries__container">
            <div class="countries__item countries__item_other">
                <img src="images/countries/Avstralia_other_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Avstralia.png" alt="" class="countries__flag">
                <h2 class="countries__title">Австралия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_other">
                <img src="images/countries/England_other_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/England.png" alt="" class="countries__flag">
                <h2 class="countries__title">Великобритания</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_other">
                <img src="images/countries/Irlandia_other_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Irlanndia.png" alt="" class="countries__flag">
                <h2 class="countries__title">Ирландия</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_other">
                <img src="images/countries/Mexica_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/Mexica.png" alt="" class="countries__flag">
                <h2 class="countries__title">Мексика</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
            <div class="countries__item countries__item_other">
                <img src="images/countries/USA_pic.jpg" alt="" class="countries__image">
                <img src="images/flags/USA.png" alt="" class="countries__flag">
                <h2 class="countries__title">США</h2>
                <a href="#" class="countries__readmore">Подробнее</a>
            </div>
        </div>
    </div>
</div>