<div class="block advantages_padding block_white">
    <div class="container">
        <h1 class="block__title reasons__title color_white">Почему за получением карты сталего побыту стоит обратиться к нам?</h1>
        <div class="advantages__wrapper">
            <div class="advantages__item reasons__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Ваше участие в процессе минимальное</p>
            </div>
            <div class="advantages__item reasons__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Офисы в Минске и Варшаве</p>
            </div>
            <div class="advantages__item reasons__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Выполняем полный цикл работ по открытию карты сталего побыту</p>
            </div>
            <div class="advantages__item reasons__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Оформление документов лицам до 16 - бесплатно, при условии, что делают родители</p> 
            </div>
            <div class="advantages__item reasons__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Работаем без посредников</p>
            </div>
            <div class="advantages__item reasons__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>100 % гарантия положительного результата</p>
            </div>
            <div class="advantages__item reasons__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Более 5 лет опыта в открытии карты поляка</p>
            </div>
            <div class="advantages__item reasons__item">
                <i class="fa fa-check-square-o advantages__check"></i>
                <p>Гарантия возврата денег при негативном результате (по нашей вине) или переподготовка всего процесса с нуля</p>
            </div>  
        </div>
    </div>
</div>
