<div class="block block_padding block_white">
    <div class="container">
        <h1 class="block__title">Почему Вам стоит обратиться за открытием визы в наш визовый центр?</h1>
        <div class="rights__wrapper">
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>Возможность без получения виз пересекать границу Польши и других стран Шенгена</p>
            </div>
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>Возможность оформить на себя автотранспорт</p>
            </div>
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>
                    Право находиться в Польше круглогодично, не выезжаяне выезжаяне выезжаяне выезжаяне выезжая
                    <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i>
                </p>
            </div>
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>Возможность получать кредиты в польских банках, как с целью ведения бизнеса, так и с личной целью, на тех же условиях, что и граждане Польши</p>
            </div>
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>Возможность открытия Шенген визы для близких родственников на 3 года</p>
            </div>
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>Возможность легально работать на территории Польши без получения специального разрешения на работу</p>
            </div> 
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>
                    Возможность получить индивидуальный номер PESEL
                    <i class="icon-info"><span>Небольшая подсказка, что делать дальше, если совсем непонятно написано</span></i>
                </p> 
            </div>
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>Возможность заниматься предпринимательской деятельностью в Польше, имя при этом те же права и условия, что и польские граждане</p>
            </div> 
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>Возможность получить польское гражданство</p>
            </div>
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>Возможность получения бесплатного базового, среднего и высшего образования на тех же условиях, что и польские граждане</p>
            </div>
            <div class="rights__item">
                <i class="icon-mud-check"></i>
                <p>Возможность приобретать на свое имя без дополнительных разрешений недвижимость и земелььные участкив Польше</p>
            </div> 
        </div>
    </div>
</div>
