<div class="block @@block_color">
    <div class="container block__second-menu">
        <div class="second-menu__container">
            <ul class="second-menu__list">
                <li class="second-menu__item">
                    <a class="second-menu__link" href="#">
                        <i class="icon-check"></i>
                        Типы виз
                    </a>
                </li>
                <li class="second-menu__item">
                    <a class="second-menu__link" href="#">
                        <i class="icon-check"></i>
                        Шенген визы
                    </a>
                </li>
                <li class="second-menu__item">
                    <a class="second-menu__link" href="#">
                        <i class="icon-check"></i>
                        Визы в страны Азии
                    </a>
                    <i class="second-menu__toggle"></i>
                    <ul class="submenu__list">
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">
                                Многократные визы в чистый паспорт
                            </a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">
                                Визы на полгода
                            </a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">
                                Визы на 2 года
                            </a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">
                                Визы на 365 дней пребывания
                            </a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">
                                Срочные визы
                            </a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">
                                Визы с безличной подачей
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="second-menu__item">
                    <a class="second-menu__link" href="#">
                        <i class="icon-check"></i>
                        Визы в другие страны
                    </a>
                </li>
                <li class="second-menu__item">
                    <a class="second-menu__link" href="#">
                        <i class="icon-check"></i>
                        Другие услуги
                    </a>
                </li>
                <li class="second-menu__item">
                    <a class="second-menu__link" href="#">
                        <i class="icon-check"></i>
                        ПМЖ в Польше и Карта Поляка
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>