<div class="block block_padding block_white">
    <div class="container">
        <h1 class="block__title services__title">Наши услуги для желающих выехать за границу</h1>
        <div class="services__container">
            @@loop("parts/service.html", [
            {
                "img": "images/service1.jpg",
                "alt": "service 1",
                "title": "Помощь в открытии визы",
                "items": [ "Шенген-визы (в любую страну Евросоюза)", "Визы в страны Азии (Таиланд, Китай, Индия, Сингапур)", "Визы в другие страны (США,  Великобритания,Ирландия, Австралия, Мексика)"]
            },
            {
                "img": "images/service2.jpg",
                "alt": "service 2",
                "title": "Другие услуги",
                "items": [ "Медицинская страховка для выезжающих за границу", "Фото для визы и страховки", "Оформление международной SIM-карты"]
            },
            {
                "img": "images/service3.jpg",
                "alt": "service 3",
                "title": "ПМЖ в Польше и Карта Поляка",
                "items": [ "Помощь в получении карты поляка", "Помощь в получении карты побыту"]
            }])
        </div>
    </div>
</div>