<div class="block slider" style="height:665px;">
    <div class="slider-pro sp-horizontal" id="slider">
        <div class="sp-slides">
           
            <div class="sp-slide">
                <img src="images/slides/slide1.jpg" class="slide__image" alt="Slide 1">
                <div class="sp-layer full_wh"  data-show-transition="down" data-hide-transition="up">
                    <div class="container slider__container">
                        <div>
                            <h1 class="color_white nopadding slider__title">ОТКРОЕМ ВИЗУ СРОКОМ ДО 5 ЛЕТ В ЛЮБУЮ ИЗ 28 СТРАН,</h1>
                            <h1 class="color_white nopadding slider__title">“ПОД КЛЮЧ” И В КРАТЧАЙШИЕ СРОКИ</h1>
                            <a href="#" class="button button_blue button__conditions slider__button">Узнайте условия получения визы <i class="icon icon-arrow"></i></a>
                            @@include('parts/pointsList.html', {"count": "4"})
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-slide">
                <img src="images/slides/other_contries_slide.jpg" class="slide__image" alt="Slide 2">
                <div class="sp-layer full_wh" data-show-transition="down" data-hide-transition="up">
                    <div class="container slider__container">
                        <div>
                            <h1 class="color_white nopadding slider__title">ОТКРОЕМ ВИЗУ СРОКОМ ДО 5 ЛЕТ В ЛЮБУЮ ИЗ 28 СТРАН,</h1>
                            <h1 class="color_white nopadding slider__title">“ПОД КЛЮЧ” И В КРАТЧАЙШИЕ СРОКИ</h1>
                            <a href="#" class="button button_blue button__conditions slider__button">Узнайте условия получения визы <i class="icon icon-arrow"></i></a>
                            @@include('parts/pointsList.html', {"count": "4"})
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-slide">
                <img src="images/slides/asia_slide.jpg" class="slide__image" alt="Slide 3">
                <div class="sp-layer full_wh" data-show-transition="down" data-hide-transition="up">
                    <div class="container slider__container">
                        <div>
                            <h1 class="color_white nopadding slider__title">ОТКРОЕМ ВИЗУ СРОКОМ ДО 5 ЛЕТ В ЛЮБУЮ ИЗ 28 СТРАН,</h1>
                            <h1 class="color_white nopadding slider__title">“ПОД КЛЮЧ” И В КРАТЧАЙШИЕ СРОКИ</h1>
                            <a href="#" class="button button_blue button__conditions slider__button">Узнайте условия получения визы <i class="icon icon-arrow"></i></a>
                            @@include('parts/pointsList.html', {"count": "4"})
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-slide">
                <img src="images/slides/poland_slide.jpg" class="slide__image" alt="Slide 4">
                <div class="sp-layer full_wh" data-show-transition="down" data-hide-transition="up">
                    <div class="container slider__container">
                        <div>
                            <h1 class="color_white nopadding slider__title">ОТКРОЕМ ВИЗУ СРОКОМ ДО 5 ЛЕТ В ЛЮБУЮ ИЗ 28 СТРАН,</h1>
                            <h1 class="color_white nopadding slider__title">“ПОД КЛЮЧ” И В КРАТЧАЙШИЕ СРОКИ</h1>
                            <a href="#" class="button button_blue button__conditions slider__button">Узнайте условия получения визы <i class="icon icon-arrow"></i></a>
                            @@include('parts/pointsList.html', {"count": "4"})
                        </div>
                    </div>
                </div>
            </div>
                   
        </div>
    </div>
</div>