<div class="block block_padding block block_white">
    <div class="container">
        <h1 class="block__title text_center">Наша команда</h1>
        <div class="team__container">
            @@loop('parts/member.html', [
            { "image": "images/team/1.jpg", "name": "Николай Кояло", "desc": "Директор"},
            { "image": "images/team/2.jpg", "name": "Михаил", "desc": "Коммерческий иректор"},
            { "image": "images/team/3.jpg", "name": "Ольга", "desc": "Главный менеджер визувого отдела"},
            { "image": "images/team/4.jpg", "name": "Виктория", "desc": "Менеджер по туризму"},
            { "image": "images/team/5.jpg", "name": "Вероника", "desc": "Менеджер визового отдела"},
            { "image": "images/team/6.jpg", "name": "Юлия", "desc": "Менеджер визового отдела"}
            ])
        </div>
    </div>
</div>