<div class="block block_gray-f2">
    <div class="container block_padding visa-form__container">
        <h1 class="block__title">Не знаете какая виза Вам нужна?</h1>
        <p class="block__description visa-form__description">Заполните форму, и мы поможем Вам подобрать нужный тип визы под Ваши потребности</p>
        <div class="visa-form__wrapper">
            <form action="POST" class="visa-form__form">
                <div class="visa-form__group">
                    <div class="visa-form__textarea-item">
                        <textarea name="message"cols="30" rows="10" class="visa-form__textarea" placeholder="Кратко опишите, для каких потребностей Вам нужна виза"></textarea>
                    </div>
                    <div class="visa-form__item">
                        <input type="tel" class="visa-form__input" placeholder="Введите Вашm номер телефона">
                    </div>
                    <div class="visa-form__item">
                        <button type="submit" class="button button_blue-darker visa-form__submit">
                            Подобрать тип визы 
                            <i class="fa fa-arrow-circle-o-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>