<div class="block block_padding block_gray-f2 creating">
    <div class="container">
        <h1 class="block__title">Как открыть визу с помощью visavisa.by?</h1>
        <div class="creating__container">
            <div class="creating__item">
                <div class="creating__step">
                    <h1 class="creating__number">1</h1>
                </div>
                <div class="creating__info">
                    <div class="creating__wrapper">
                        <h2 class="creating__title">Подтвердив свое польское происхождение</h2>
                        <p class="creating__addition margin_top30">Многих волнует вопрос, как получить карту поляка без польских корней? На самом деле можно получить карту поляка, не имея польского происхождения. Такие возможности есть и они предусмотрены Законом Республики Польша "О карте поляка" от 7 сентября 2007 года.</i></p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="creating__item">
                <div class="creating__step">
                    <h1 class="creating__number">2</h1>
                </div>
                <div class="creating__info">
                    <div class="creating__wrapper">
                        <h2 class="creating__title">Обменяв карту поляка на карту сталего побыту</h2>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="creating__item">
                <div class="creating__step">
                    <h1 class="creating__number">3</h1>
                </div>
                <div class="creating__info">
                    <div class="creating__wrapper">
                        <h2 class="creating__title">Обладая на протяжении 5 лет картой часового побыту Вы можете претендовать на карту сталего побыту</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>