<!DOCTYPE html>
<html>
@@include('head.html')
<body>
@@include('header.html')
@@include('menu.html')
@@include('slider.html')
@@include('secondMenu.html', { "block_color": "block_white"})

@@include('services.html')
@@include('visaForm.html')
@@include('advantages.html')
@@include('creating.html')
@@include('discounts.html')
@@include('contacts.html')
@@include('reviews.html')

@@include('footer.html')

<!-- FORMS  -->
@@include('forms/thanks.html')
@@include('forms/call.html')
@@include('forms/conditions.html')
@@include('forms/comment.html')
@@include('forms/complaints.html')
@@include('forms/photos.html')
@@include('forms/visa.html')
</body>
</html>
