<!DOCTYPE html>
<html>
@@include('head.html')
<body>
@@include('header.html')
@@include('menu.html')
@@include('kartapol/banner.html')
@@include('secondMenu.html', { "block_color": "block_white"})

@@include('kartapol/reasons.html')
@@include('kartapol/steps.html')
@@include('kartapol/blockWithImage.html')
@@include('kartapol/advantages.html')
@@include('kartapol/credit.html')
@@include('kartapol/delivery.html')

@@include('contacts.html')
@@include('reviews.html')
@@include('footer.html')
</body>
</html>
