<div class="modal modal__conditions">
    <a href="#" class="modal__close">
        <i class="fa fa-close"></i>
    </a>  
    <div class="modal__form_wrapper text_center">
        <h2>Узнайте условия получения визы у нашего менеджера</h2>
        <p class="margin_top30 margin_bottom30 fs18">Ответ в течении 15 минут</p>
        <form action="POST" class="modal__form span4">
            <input name="name" type="text" class="form__input" placeholder="Введите ваше имя">
            <input name="phone" type="tel" class="form__input" placeholder="Введите ваш номер телефона">
            <button class="button button_blue-darker form__button text_center">Узнать условия</button>
        </form>
    </div>
</div>