<div class="modal modal__photos">
    <a href="#" class="modal__close">
        <i class="fa fa-close"></i>
    </a>      
    <div class="modal__form_wrapper text_center">
        <h2>Загрузите фоторафии Вашего паспорта к нам на сайт</h2>
        <p class="margin_top30 margin_bottom35 fs18">Необходимо чтобы Вы выслали следующие страницы паспорта:</p>
        <ul class="margin_bottom35 text_left open_sans fs18">
            <li> - Разворот с фотографией (стр. 32 - 33);</li>
            <li> - Разворот с паспортными данными на русском языке (стр.31);</li>
            <li> - Прописка (может быть на разных страницах);</li>
            <li> - Фото страниц с визами за последние 3 года</li>
        </ul>
        <div class="modal__images">
            <form action="/sends/to/this/url" class="dropzone">
                <div class="grid"></div>
                <input id="fileupload" type="file" name="files[]" style="display:none" multiple>
                <p class="nomargin padding_top55 fs18 dissapeares">Перетащите фото сюда</p>
                <p class="nomargin padding_bottom35 fs18 dissapeares">или</p>
                <div class="controls">
                    <a id="choose" class="button button_blue image_button fs18" href="#">Выберите фото</a>
                    <input id="send" type="submit" class="button button_dark-blue image_button fs18 appeares" value="Отправить">                    
                </div>
            </form>
        </div>
        <p class="modal__confidence padding_top55 fs18 italic"><i class="fa fa-lock" aria-hidden="true"></i> Мы заботимся о Вашей конфиденциальности</p>    
    </div>
</div>