<div class="modal modal__visa">
    <a href="#" class="modal__close">
        <i class="fa fa-close"></i>
    </a>    
    <div class="modal__form_wrapper">
        <h2 class="text_center margin_bottom35">Анкета для оформления визы</h2>
        <section class="form_block current">
            <div class="row">
                <div class="col pl45 f100">
                    <p class=" block_title nomargin italic fs18">
                        Контактные данные
                        <i class="progress">
                            <img src="../images/progress.png">
                        </i>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col mr31 pl45 pr45 f49">
                    <label class="label fs15">Введите Вашу Фамилию</label>
                    <input class="form__input" type="text" placeholder="Например, Иванов">
                    <label class="label fs15">Введите Ваше Имя</label>
                    <input class="form__input" type="text" placeholder="Например, Иван">
                    <label class="label fs15">Введите Ваше Отчество</label>
                    <input type="text" class="form__input" placeholder="Например, Иванович">
                </div>
                <div class="col ml31 pl45 pr45 f49">
                    <label class="label fs15">Введите Ваш мобильный номер телефона</label>
                    <input type="text" class="form__input" placeholder="Например, +375 (33) 646 55 88">
                    <label class="label fs15">Введите Ваш городской номер телефона</label>
                    <input type="text" class="form__input" placeholder="Например, 8 017 29 28 309">
                </div>
            </div>
            <div class="row margin_top35">
                <div class="col pl45 f100">
                    <a class="button button_dark-blue button_next fs18" href="#">Продолжить</a>
                </div>
            </div>
        </section>
        <section class="form_block current">
            <div class="row">
                <div class="col pl45 f100">
                    <p class="block_title nomargin italic fs18">
                        Информация о визе                        
                        <i class="progress">
                            <img src="../images/progress.png">
                        </i>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col pl45 pr35 f49">
                    <label class="label fs15">Выберите страну, в которую Вам нужна виза:</label>
                    <select class="form__input" placeholder="Страна не выбрана"></select>
                </div>
                <div class="col f50 pr45 f49_add80">
                    <label class="label fs15">Цель поездки (если виза “за покупками”, уточните наличие ВАТ)</label>
                    <input class="form__input" type="text" placeholder="Например, Туризм">
                </div>
            </div>
            <div class="row">
                <div class="col f100 pl45">
                    <label class="label fs15">Укажите желаемую Вам дату подачи документов:</label>
                </div>
            </div>
            <div class="row">
                <div class="col f100 pl45">
                    <p class="f15">
                        от <input class="form__input inline" type="text" placeholder="Например, 19.04.2016">
                        до <input class="form__input inline" type="text" placeholder="Например, 19.04.2016">
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col f100 pl45">
                    <label class="label fs15">Введите все Шенгенские визы, если были ранее (за последние 3 года).</label>
                    <p class="fs15">С какого по какое число действовала виза</p>
                </div>
            </div>
            <div class="row">
                <div class="col f30 pl45">
                    <label class="label fs15">Дата въезда</label>
                    <input class="form__input" type="text">
                </div>
                <div class="col ml10 f30">
                    <label class="label">Дата выезда</label>
                    <input type="text" class="form__input">
                </div>
            </div>
            <div class="row">
                <div class="col pl45 f100">
                    <a class="button button_blue button_next fs18 mt10" href="#">+ Добавить</a>
                    <a href="#" class="button button_dark-blue button_next fs18 mt25">Продолжить</a>
                </div>
            </div>
        </section>
        <section class="form_block current">
            <div class="row">
                <div class="col pl45 f100">
                    <p class=" block_title nomargin italic fs18">Личные данные</p>
                </div>
            </div>
            <div class="row">
                <div class="col mr31 pl45 pr45 f49">
                    <label class="label fs15">Введите Вашу дату рождения</label>
                    <input type="text" class="form__input" placeholder="Например, 19.04.2016">
                    <label class="label fs15">Выберите Ваш пол</label>
                    <p class="nomargin">
                        <a href="#" class="button button_blue button_radio">Мужской</a>
                        <a href="#" class="button button_blue button_radio">Женский</a>
                    </p>
                    <label class="label fs15">Рабочий телефон</label>
                    <input type="text" class="form__input" placeholder="Например, +375 (33) 646 55 88">
                </div>
                <div class="col mr31 pl45 pl45 f49">
                    <label class="label fs15">Ваша профессиональная деятельность</label>
                    <input type="text" class="form__input" placeholder="Например, инженер">
                    <label class="label fs15">Выберите Ваше семейное положение</label>
                    <select class="form__input"></select>
                    <label class="label fs15">*Если девушка, введите прежнюю фамилию</label>
                    <input type="text" class="form__input" placeholder="Например, Петрова">
                </div>
            </div>
            <div class="row">
                <div class="col pl45 f100">
                    <label class="label fs15">Работодатель (для студентов учебное заведение), адрес места работы, индекс</label>
                    <input type="text" class="form__input" placeholder="Например, ООО “Луч”, Гагарина 19, 220010, 8 017 5555555">
                </div>
            </div>
            <div class="row">
                <div class="col pl45 f100">
                    <a href="#" class="button button_dark-blue button_next fs18 mt25">Продолжить</a>
                </div>
            </div>
        </section>
        <section class="form_block">
            <div class="row">
                <div class="col pl45 f100">
                    <p class="block_title nomargin italic fs18">Информация о гражданстве</p>
                </div>
            </div>
            <div class="row">                
                <div class="col mr31 pl45 pr45 f49">
                    <label class="label fs15">Введите Ваше место рождения</label>
                    <input type="text" class="form__input" placeholder="Например, Минск">                    
                    <label class="label fs15">Введите Вашу страну рождения</label>
                    <input type="text" class="form__input" placeholder="Например, Беларусь">                    
                    <label class="label fs15">*Введите номер Вашего вида на жительство в РБ</label>
                    <input type="text" class="form__input" placeholder="Например, 02524688">
                </div>                
                <div class="col mr31 pl45 pr45 f49">                    
                    <label class="label fs15">Введите Ваше гражданство при рождении</label>
                    <input type="text" class="form__input" placeholder="Например, Беларусь">
                    <label class="label fs15">Введите Ваше гражданство в настоящее время</label>
                    <select class="form__input"></select>
                </div>
            </div>
            <div class="row">
                <div class="col f100 pl45">
                    <label class="label fs15">Укажите желаемую Вам дату подачи документов:</label>
                </div>
            </div>
            <div class="row">
                <div class="col f100 pl45">
                    <p class="f15">
                        от <input class="form__input inline" type="text" placeholder="Например, 19.04.2016">
                        до <input class="form__input inline" type="text" placeholder="Например, 19.04.2016">
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col f100 pl45">
                     <a href="#" class="button button_dark-blue button_next fs18 mt25">Продолжить</a>
                </div>
            </div>
        </section>
        <section class="form_block current">
            <div class="row">
                <div class="col pl45 f100">
                    <p class=" block_title nomargin italic fs18">Паспортные данные</p>
                </div>
            </div>
            <div class="row">
                <div class="col mr31 pl45 pr45 f49">
                    <label class="label fs15">Введите Вашу фамилию (на латинице) как в паспорте</label>
                    <input type="text" class="form__input" placeholder="Например, IVANOU">
                    <label class="label fs15">Введите Ваше имя (на латинице) как в паспорте</label>
                    <input type="text" class="form__input" placeholder="Например, IVAN">
                    <label class="label fs15">Введите Ваш идентификационный номер</label>
                    <input type="text" class="form__input" placeholder="Например, 7123456А001РВ3">
                </div>
                <div class="col mr31 pl45 pr45 f49">
                    <label class="label fs15">Введите дату выдачи Вашего паспорта</label>
                    <input type="text" class="form__input" placeholder="Например, 23.11.2013">
                    <label class="label fs15">Введите дату, до которой действителен Ваш паспорт</label>
                    <input type="text" class="form__input" placeholder="Например, 23.11.2013">
                </div>
            </div>
            <div class="row">
                <div class="col pl45 f100">
                    <label class="label fs15">Введите, кем выдан Ваш паспорт</label>
                    <input type="text" class="form__input" placeholder="Например, Минским РУВД Советского района">
                    <label class="label fs15">Введите Ваш домашний адрес и индекс (по прописке)</label>
                    <input type="text" class="form__input" placeholder="Например, Минск, ул. Куйбышева 93/1, 220100">
                </div>
            </div>
            <div class="row">
                <div class="col f100 pl45">
                     <a href="#" class="button button_dark-blue button_next fs18 mt25">Продолжить</a>
                </div>
            </div>
        </section>
        <section class="form_block noborder">            
            <div class="row">
                <div class="col pl45 f100">
                    <p class=" block_title nomargin italic fs18">*Информация об одном из родителей</p>
                </div>
            </div>
            <div class="row">
                <div class="col mr31 pl45 pr45 f49">
                    <label class="label fs15">Введите имя Вашего родителя</label>
                    <input type="text" class="form__input" placeholder="Например, Сергей">
                    <label class="label fs15">Введите фамилию Вашего родителя</label>
                    <input type="text" class="form__input" placeholder="Например, Сергеев">
                </div>
                <div class="col mr31 pl45 pr45 f49">
                    <label class="label fs15">Введите гражданство Вашего родителя</label>
                    <input type="text" class="form__input" placeholder="Например, Беларус">
                </div>
            </div>            
            <div class="row">
                <div class="col pl45 f100">
                    <label class="label fs15">Введите домашний адрес и индекс (по прописке) Вашего родителя</label>
                    <input type="text" class="form__input" placeholder="Например, Минск, ул. Куйбышева 93/1, 220100">
                </div>
            </div>
            <div class="row">
                <div class="col f100 pl45 button_center">
                     <a href="#" class="button button_blue button_send fs18 mt25">Отправить</a>
                </div>
            </div>
        </section>
    </div>
</div>