<div class="block block_white block_padding">
    <div class="container">
        <h1 class="block__title">Перечень всех услуг которые мы оказываем по карте поляка:</h1>
        <div class="discounts__container">
            <img src="../images/image.jpg" alt="Discounts" class="discounts__image">
            <div class="discounts__wrapper">
                <p> - Содействие в поиске польских корней;</p>
                <p> - Проверка всей цепочки документов;</p>
                <p> - Заполнение заявление «wniosek» на карту поляка;</p>
                <p> - Гарантированная регистрация на собеседование в консульство;</p>
                <p> - Консультация  перед прохождением собеседования.</p>
                <p> - Стоимость за все услуги: <b>100 EUR</b></p>
                <a href="#" class="button button_blue">
                    Получить карту поляка "Под ключ"
                </a>
            </div>
        </div>
    </div>
</div>