<div class="block block_padding block_gray-f2">
    <div class="container">
        <h1 class="block__title text_center">Получите рассрочку на карту поляка до 3 месяцев, оформив бесплатно банковскую карту Халва прямо у нас в офисе за 15 минут!</h1>
        <div class="credit__container">
            <div class="credit__form">
                @@include('forms/whiteBlock.html', { "button_label": "Получть карту поляка в рассрочку"})
            </div>
            <div class="credit__desc">
                <h3>Рассрочка:</h3>
                <p>- Без первоначального взноса;</p>
                <p>- Сумма разбивается на 3 платежа;</p>
                <h3>Банковская карта "Халва":</h3>
                <p>- Без первоначального взноса;</p>
                <p>- 0% за пользование рассрочкой</p>
                <p>- 0% первоначальный взнос</p>
            </div>
        </div>
    </div>
</div>