<div class="block block_blue block_padding">
    <div class="container">
        <h1 class="block__title color_white nopadding">Система скидок visavisa.by</h1>
        <div class="discounts__container">
            <img src="../images/forsales_karta.jpg" alt="Discounts" class="discounts__image">
            <div class="discounts__wrapper">
                <p>Приведи друга и получи скидку на любую нашу услугу до <b>10%</b></p>
                <p>Оставьте отзыв на нашем сайте и получите скидку на наши услуги <b>2 BYN</b></p>
                <a href="#" class="button button_blue discounts__button">
                    Сэкономить 2 BYN
                </a>
                <p>Заполните анкету на оформление визы и и получите скидку на визу <b>5 BYN</b></p>
                <a href="#" class="button button_blue-darker discounts__button">
                    Сэкономить 5 BYN
                </a>
            </div>
        </div>
    </div>
</div>