<div class="block block_padding block_white">
	<div class="container">
		<h1 class="block__title">Какие возможности и права дает карта поляка?</h1>
		<div class="column__container full">
			<div class="span6 column">
				<div class="full flex vertical_line relative margin_bottom25">
					<i class="icon-mud-check"></i>
					<div class="dropdown__container">
						<h2 class="dropdown__title">Карта ПМЖ</h2>
						<div class="dropdown__wrapper">
							<p class="dropdown__text">
								- Карта поляка - это первый и главный шаг для получения постоянного вида на жительство в Польше (карта сталэго побыту); либо
								для получения польского паспорта
							</p>
						</div>
					</div>
				</div>
				<div class="full flex vertical_line relative margin_bottom25">
					<i class="icon-mud-check"></i>
					<div class="dropdown__container">
						<h2 class="dropdown__title">Бесплатная многократная виза в Польшу</h2>
						<div class="dropdown__wrapper">
							<p class="dropdown__text">
								- Бесплатно получить многократную польскую национальную визу категории D, дающую право на многократное пересечение границы
								и пребывание 365 дней в году, которую можно использовать как шенген визу, без предоставления дополнительных документов
								(приглашение, разрешение на работу и т. д.)
							</p>
						</div>
					</div>
				</div>
				<div class="full flex vertical_line relative margin_bottom25">
					<i class="icon-mud-check"></i>
					<div class="dropdown__container">
						<h2 class="dropdown__title">Работа и предпринимательство в Польше</h2>
						<div class="dropdown__wrapper">
							<p class="dropdown__text">
								- Возможность легально работать на территории Польши без получения специального разрешения на работу
							</p>
							<p class="dropdown__test">
								- Возможность заниматься предпринимательской деятельностью в Польше, имея при этом те же права и условия, что и польские
								граждане
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="span6 column">
				<div class="full flex vertical_line relative margin_bottom25">
					<i class="icon-mud-check"></i>
					<div class="dropdown__container">
						<h2 class="dropdown__title">Образование в Польше</h2>
						<div class="dropdown__wrapper">
							<p class="dropdown__text">
								- Возможность получения бесплатного базового, среднего, высшего образования на тех же условиях, что и польские граждане.
								Так же при наличии Карты поляка можно претендовать на стипендии, которые предназначены для иностранцев, получающих
								образование в Польше.
							</p>
						</div>
					</div>
				</div>
				<div class="full flex vertical_line relative margin_bottom25">
					<i class="icon-mud-check"></i>
					<div class="dropdown__container">
						<h2 class="dropdown__title">Финансовая помощь</h2>
						<div class="dropdown__wrapper">
							<p class="dropdown__text">
								- Возможность получать финансовые средства, которые выделяются на поддержку поляков за границей.
							</p>
						</div>
					</div>
				</div>
				<div class="full flex vertical_line relative margin_bottom25">
					<i class="icon-mud-check"></i>
					<div class="dropdown__container">
						<h2 class="dropdown__title">Работа и предпринимательство в Польше</h2>
						<div class="dropdown__wrapper">
							<p class="dropdown__text">
								- Бесплатно посещать все государственные музеи Польши;
							</p>
							<p class="dropdown__test">
								- 37% скидка на железнодорожный транспорт на территории Польши;
							</p>
							<p class="dropdown__test">
								- В некоторых случаях возможность пользования бесплатной медицинской помощью на тех же условиях, что и польские граждане.
								Обычно, такое медицинское обслуживание предоставляется в экстренных случаях;
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>